@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  background-color: #282c34;
  color: white;
  font-family: 'Poppins', sans-serif;  margin: 0;
  margin: 0;
  padding: 10px;
}

.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgb(146, 55, 231);
}

.mr-1 {
  margin-right: 10px;
}