.loading-map {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
}

.search-container {
  position: fixed;
  left: 20px;
  top: 20px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 250px;
  border-radius: 5px;
}